
.header {
  width: 100%;
  padding: 2%;
  background-color: burlywood;
  color: white;
  text-align: center;
}

.display-board {
  width: 100%;
  background-color: rgb(555, 200, 789);
  padding: 5%;
}

.number {
  color: red;
  font-size: 75px;
  text-align: center;
}

.mrgnbtm {
  margin-top: 20px;
}
.footer{
  margin-top:20%;
  width: 100%;
  padding: 2%;
  background-color: rgb(37, 23, 3);
  color: white;
  text-align: center;
}